
$primaryColor: #B24403;
$primaryDarkColor: #A02900;
$primaryLightColor: #BF5100;

$secondaryColor: #3C3C3C;
$secondaryDarkColor: #2E2E2E;
$secondaryLightColor: #555555;

$textColor: #FFFFFF;
$muteTextColor: #B6B6B6;
$backgroundColor: #1E1F20;
$backgroundDarkColor: #131514;
$backgroundLightColor: #212929;

$outlineColor: #0062cc;
$outlineBoxShadow: 0 0 0 0.2rem rgba(38,143,255,.5);

$defaultFontFamily: "Hiragino Kaku Gothic Pro", Arial, Helvetica, sans-serif;