.manaColorItemList {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
}

.manaColorItem:nth-child(n+2) {
  margin-left: $space;
}